body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0066ff;
    margin: 0;
    padding: 40px;
}
.container{
    max-width: 400px;
    margin: auto;
    background-color: #fff6f6;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    max-width: 800px;
    margin: auto;
}
.title{
    font-size: 32px;
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 3px solid #ff0000;
    padding-bottom: 10px;
}
.content{
    font-size: 18px;
    color: #fd0000;
    line-height: 1.8;
    letter-spacing: 2px;
    text-align: justify;
}
.content p{
    margin-bottom: 25px;
}